.content{
    background-color:white;
}
.container{

    margin:auto;
    max-width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color:#5260A7;
    margin-bottom: 20px;

}

.title{
    font-size: 50px;
    font-family: sans-serif;
    color:white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #ffffff86;
    margin-left: 40px;
}

.svg1{
    transform:rotate(0deg);
    transition: 0.3s;
}

.svg2{
    margin:0;
    transform:translate(0, 0px);
    opacity:1;
}

.done{
    text-decoration: line-through;
}

ul{
    list-style: none;
    margin:0;
    padding:0;
    align-self: flex-start;
    
}
li{
    width: 40vw;
    background-color: white;
}

.item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 30px;
    width: 100%;
    padding: 15px;
    margin-top: 15px;
}

.btn{
    border:none;
    outline: none;
    background-color: #ffffff00;
    cursor: pointer;
}

.btn-group{
    display: flex;
    align-items: center;
}

.icon{
    width: 70px;
}

.card{

    box-shadow: 0 2px 7px 1px #00000033;


}

.modal{
    width: 100%;
    height: 100vh;
    background-image: url('./components/background/background.png');
    position:fixed;
    top: 0;
    left: 0;
    display:flex;
    justify-content: center;
    align-items: center;
}

.hideModal{
    display: none;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputTask{
    width: 300px;
    height: 50px;
    border: 4px solid #ffffff86;
    outline: none;

    font-size: 20px;
    padding: 10px;
    color:white;
    background-color: #ffffff00;
}
.inputTask::placeholder{

    font-size: 20px;
    padding: 10px;
    color:white;

}

.footer{
    width: 100%;
    height: 250px;
    background-color: gray;

    display: flex;
    align-items: center;
    justify-content: center;
}

